@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

:root {
  // Shades
  --light-0: #fdfcf7;
  --light-1: #f0eee2;
  --light-2: #c8c5bc;

  // Text
  --dark-0: #2f3033;
  --dark-1: #202022;
  --dark-2: #151517;

  // Primary
  --primary-0: #4c496b;
  --primary-1: #3a3754;
  --primary-2: #28253d;

  // Colors
  --red: #f03e3e;
  --orange: #ff922b;
  --yellow: #ffd43b;
  --green: #51cf66;
  --teal: #20c997;
  --blue: #339af0;
  --indigo: #5c7cfa;
  --purple: #7950f2;
  --pink: #f06595;
  --grey: #adb5bd;

  // Shadows
  --shadow-light: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  --shadow-heavy: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  --shadow-close: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  // Font
  --font-family: 'Cambria', serif;
  --title-font-family: 'Chelsea Market', serif;
}

button,
a {
  i {
    font-size: 1.4rem;
    margin-right: 0.6rem;
  }
}

body {
  background-color: var(--light-0);

  * {
    font-family: var(--font-family);
    font-size: 1.6rem;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a.link,
button.link {
  color: var(--primary-0);
  text-decoration: underline;
  white-space: nowrap;
}

a:not(.link),
button:not(.link) {
  width: fit-content;
  white-space: nowrap;
  color: var(--light-0);
  background-color: var(--primary-1);
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  border-radius: 3px;
  // transition: all 0.2s ease-in-out;
  bottom: 0;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-0);
  }

  &.secondary {
    background-color: var(--light-2);
    color: var(--dark-0);

    &:hover {
      background-color: var(--light-1);
    }
  }
}

pre {
  background-color: var(--dark-2);
  color: var(--light-0);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow-light);
}

input[type='text'] {
  border: 1px solid var(--light-2);
  border-radius: 5px;
  padding: 1.2rem;
  transition: all 0.2s ease-in-out;

  &:focus,
  &:focus-visible {
    outline: none;
    // border-bottom: 0.4rem solid var(--primary-1);
    box-shadow: var(--shadow-close);
  }
}

.hidden {
  display: none !important;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);

  .modal {
    max-height: 64rem;
    max-width: 64rem;
  }
}

button.close {
  width: 3.2rem !important;
  height: 3.2rem !important;
  background-color: transparent !important;
  color: var(--dark-2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

// Media query for phones
@media (max-width: 768px) {
  .modal-container > .modal {
    max-height: none;
    max-width: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  p > a:not(.link),
  p > button:not(.link) {
    padding: 0;
    background: none;
    text-decoration: underline;
    color: var(--primary-1);
    &:hover {
      background: none;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}

.align-right {
  text-align: right;
}

.books-stripe::after {
  position: absolute;
  top: 100%;
  content: '';
  background-image: url('../images/books-stripe.webp');
  display: block;
  background-size: cover;
  width: 100%;
  height: 0.4rem;
}

.toast {
  padding: 0.4rem 1.2rem;
  border-radius: 99px;
  background-color: var(--green);
  box-shadow: var(--shadow-close);
  color: var(--light-0);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  i {
    font-size: 1.2rem;
  }

  animation: slide-up 0.2s ease-out;
}

ul.list {
  padding-left: 1.2rem;
  > li {
    line-height: 1.6;
    &:before {
      content: '❖';
      font-weight: bold;
      display: inline-block;
      margin-right: 0.6rem;
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
