@import 'styles';
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

.character-sheet {
    h1 {
        font-family: 'Amarante';
        font-size: 3.5rem;
        text-transform: uppercase;
    }
}

* {
    font-size: 0.85rem;
}

.centered-checks {
    position: absolute;
    display: inline-flex;
    gap: 0.5rem;
    bottom: 0;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 50%);

    > li {
        width: 1rem;
        height: 1rem;
        transform: rotate(45deg);
        border: 1px solid $gray;
        border-bottom: 2px solid $gray;
        border-right: 2px solid $gray;
        border-radius: 3px;
        background-color: $white;
    }
}

section {
    background-color: $white;
}

section.panel {
    background-color: $pale-gray;
    border: 1px solid $pale-gray;
}

section:has(> header) > div {
    padding: 0.75rem;
}

section:has(> .centered-checks) {
    position: relative;
    overflow: visible !important; // Allow content to overflow the section
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem !important;
}

ul.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-bottom: 0.5rem;
}

.traits-and-tags {
    > ul > li {
        > p {
            padding: 0.25rem;
            text-align: center;
            font-weight: bold;
            border-bottom: 1px dashed $light-gray;
        }

        &.empty > ul > li::after {
            content: '\00a0';
        }

        > ul > li {
            display: flex;
            align-items: center;
            margin-left: 0.75rem;
            line-height: 1.75;
            &::before {
                width: 0.65rem;
                height: 0.65rem;
                content: '';
                border: 1px solid $black;
                border-bottom: 2px solid $black;
                border-radius: 100%;
                margin-right: 0.25rem;
            }

            &.filled::before {
                background-color: $black;
            }
        }

        &:not(:last-child) {
            border-right: 1px dashed $light-gray;
        }
    }
}
