// ◈ ◆ ◇ ❖ ⬖ ⬗ ⬘ ⬙

// Colors
$white: #ffffff;
$black: #000000;
$gray: #4e4e4e;
$light-gray: #e0e0e0;
$pale-gray: #eeeeee;
$red: #7d1414;

body {
    background-color: #e0e0e0;
    font-family: Arvo, serif;
    line-height: 1.35;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    // Ensure background colors are printed
    -webkit-print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 12px;
}

// PAGE
.page {
    display: flex;
    flex-direction: column;
    background: #ffffff;

    // A4 Size
    // width: 210mm;
    // height: 297mm;

    // U.S. Letter Size
    width: 8.5in;
    height: 11in;

    padding: 0.5in;
    margin: 0 auto;
}

.page > header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
    opacity: 0.75;

    > img {
        width: 5rem;
        height: unset;
        padding: 0 1rem;
    }
}

.page > footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;

    background-color: $pale-gray;
    color: $gray;
    border-radius: 3px;
    font-style: italic;
    line-height: 1.5;

    > * {
        display: inline-block;
        width: min-content;
        white-space: pre;
    }

    > :first-child {
        text-align: right;
    }

    * {
        font-size: 0.75rem;
    }
}

// GENERAL ELEMENTS

section {
    margin-bottom: 1.25rem;
    flex-shrink: 0;

    > * {
        margin-bottom: 1rem;
    }

    > * blockquote {
        margin: 0;
        margin-bottom: 1rem;
    }

    &:has(header) {
        overflow: hidden;
        border-radius: 3px;

        border: 1px solid $gray;

        header {
            display: block;
            padding: 0.3rem;
            background-color: $gray;
            color: $white;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1.25px;
            text-box-trim: trim-both;
            margin-bottom: 0;
        }

        > div {
            padding: 1rem 1.5rem;
        }
    }

    &:has(.caption) {
        margin-top: -0.5rem;
        padding: 0 2rem;
        .caption {
            font-style: italic;
            text-align: center;
            font-size: 75%;
            opacity: 0.75;
        }
    }
}

p {
    margin-bottom: 0.5rem;
    &:last-child {
        margin-bottom: 0;
    }
}

blockquote {
    font-style: italic;
    padding-left: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: left;

    border-radius: 5px;
    border-left: 5px solid $light-gray;
}

strong {
    font-weight: bold;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    font-size: inherit;
}

h1,
h2,
h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    text-transform: lowercase;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 1rem;
}

sub {
    font-size: 65%;
    vertical-align: unset;
    background-color: $pale-gray;
    padding: 0.15rem 0.25rem;
    border-radius: 5px;
    white-space: nowrap;
}

a {
    color: $red;
    text-decoration: none;
}

*:last-child {
    margin-bottom: 0 !important;
}

ul {
    list-style: none;
}

ul.grid-2 {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 0.5rem;
}

ul.grid-3 {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 0.5rem;
}

ul.list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    > li {
        &::before {
            content: '❖ ';
        }
    }
}

ul.dice-table {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid $pale-gray;

    li {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        padding: 0.25rem 0.35rem;

        &:nth-child(odd) {
            background-color: $pale-gray;
        }

        > *:not(img) {
            flex: 1;
        }
    }
}

ul.counter {
    counter-reset: item-counter;
    list-style-type: none;

    > li > :first-child::before {
        counter-increment: item-counter;
        content: counter(item-counter, upper-alpha);

        display: inline;
        text-align: center;
        vertical-align: middle;
        font-size: 0.75rem;
        margin-right: 0.5rem;
        background-color: $gray;
        line-height: 2rem;
        height: 2.5rem;
        width: 1.25rem;
        color: white;
        float: left;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.5rem), 0 100%);
    }
}

.spaced {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

q {
    &::before {
        content: '“';
    }

    &::after {
        content: '”';
    }
}

mark {
    font-size: 75%;
    vertical-align: middle;
    background-color: $gray;
    border: none;
    padding: 0.15rem 0.3rem;
    border-radius: 3px;
    color: white;
}

.choose-one-column {
    display: flex;
    flex-direction: column;
    > ul {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        justify-content: center;
        align-items: center;
    }
}

// PRINT MODE

@media print {
    @page {
        size: letter;
        margin: 0;
    }

    body {
        padding: 0;
    }

    .page {
        padding: 0.5in;
        break-after: page;
    }
}

// Utility

.text-center {
    text-align: center;
}

.block {
    display: block;
}
